[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
flask-restx = "*"
flask-cors = "*"
flask-swagger-ui = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
server = "python manage.py"
test="python -m unittest tests.test_api"
init="flask db init"
migrate="flask db migrate"
upgrade="flask db upgrade"
