[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
flask-restx = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]

init="flask db init"
migrate="flask db migrate"
upgrade="flask db upgrade"
